
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 /* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

 */

*{
    font-family: "Montserrat", sans-serif;
}
:root{
    --text-color:#1E1E1E;
    --main-color:#B6EC3D;
    --light-green:#F9FEED;
}
.navbar{
    background-color: black;
    display: flex;
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}
.container-fluid{
    padding:0 150px;
    
}
button{
    border: none;
    padding: 10px 35px;
    border-radius: 8px;
    background-color: var(--main-color);
}
button a{
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
}
ul li{
    font-size: 18px;

}
.navbar-small{
    background-color: var(--text-color);
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: right;

}
.navbar-small a{
    text-decoration: none;
    color: white;
}